@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

a {
  color: white;
}

body {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 3vh;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand {
  color: #77777791;
  font-size: 12px;
}

.logo {
  margin: auto;
  display: block;
  width: 400px;
}

.contacto {
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: #8164a8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bajada {
  margin-bottom: 0px;
  background-color: #0050b3;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container {
  margin-top: 30px;
}

.margin {
  padding-left: 60px;
}

.row-informacion {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 300px;
  clear: both;
}

.informacion {
  margin-bottom: 20px;
}

.box-left {
  float: left;
  width: 45%;
}

.box-right {
  float: right;
  width: 45%;
}

@media(max-width: 480px) {
  .box-left {
    float: left;
    width: auto;
  }
}

@media(max-width: 480px) {
  .box-right {
    float: right;
    width: auto;
  }
}

.img-responsive {
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-group {
  color: white;
}

.navbar-collapse {
  background-color: #ffffff;
  padding-right: 90px;
  padding-left: auto;
}

.container-fluid {
  padding: 0px;
}

.informacion {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.img-circle {
  width: 40%;
  margin-left: center;
  margin-right: center;
}

.caption {
  text-align: center;
}

.col-lg-4 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.img-fluid {
  margin-right: 0px;
  padding-right: 0px;
}
